<div class="jumbotron jumbotron-fluid "  style="background-image: url(https://d16yj43vx3i1f6.cloudfront.net/uploads/2020/10/Diversity.jpg); background-size: 900%; background-position-y: 5%;">
  <div class="container">
    <h1 class="display-4  text-white"><%= @banner_title%></h1>
    <%# <p class="lead">Request new friends</p> %>
  </div>
</div>