// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-box {
  font-size: 0.7em;
  border: none;
}

.comments-container {
  border-radius: 25px;
  max-width: 10em;
  max-height: 3em;
  border: 1px rgb(139, 139, 139) solid;
  padding: 0.5em;
}
.comments-username {
  font-size: 0.8em;
}
.comments {
  font-size: 0.7em;
}

.comments-time {
  font-size: 0.6em;
}

.buttons-edit-delete {
  font-size: 0.8em;
}

.comment-input {
  border: none;
}
