// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-box {
  font-size: 0.6em;
}

.comments-username {
  font-size: 0.8em;
}
.comments {
  font-size: 0.8em;
}

.comments-time {
  font-size: 0.6em;
}

.buttons-edit-delete {
  font-size: 0.8em;
}
